.header__lang-link {
    margin: 0;
    font-family: "Inter", serif;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 767px) { 
    .header__lang-link {
        font-size: 18px;
    } 
}