.page {
    background-color: #2A2C2F;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
}

.header {
    padding: 28px 48px 0 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo {
    margin: 0;
    width: 176px;
}

.header__languages-list {
    margin: 0;
    padding: 0;
    display: flex;
    margin: 0;
    gap: 18px;
}

.header__language-list {
    list-style: none;
}

.header__lang-link {
    margin: 0;
    font-family: "Inter", serif;
    font-weight: normal;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang-link_underline {
    text-decoration: underline;
}

/* main start */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* main end */

/* section travel in Russia start */
.lead {
    padding: 56px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lead__title {
    margin: 0 0 32px;
    font-family: "Inter";
    font-weight: 900;
    text-align: center;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
}

.lead__subtitle {
    margin: 0 0 70px;
    font-family: "Inter";
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

.lead__image-container {
    margin: 0;
}

.lead__image {
    margin: 0;
    max-width: 984px;
}

.lead__caption {
    margin: 8px 0 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #ffffff;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
/* section travel in Russia end */

/* section intro start */
.intro {
    padding: 92px 0 0;
    max-width: 984px;
    width: 100%;
}

.intro__title {
    margin: 0 0 40px;
    font-family: "Inter";
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

.intro__text {
    margin: 0 0 33px;
    max-width: 690px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
    color: #ffffff;  
}

.intro__list {
    margin: 0;
    padding: 0;
    max-width: 690px;
}

.intro__item {
    list-style: none;
}

.intro__span-accent {
    margin: 0;
    font-family: "Inter";
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
}
/* section intro end */

/* section photo-grid start */
.photo-grid {
    padding: 92px 0 0;
    max-width: 1184px;
    display: grid;
    grid-template-columns: 284px 284px 284px 284px;
    gap: 16px;
}
/* section photo-grid end */

/* section places start */

.places {
    padding: 92px 0 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.place {
    display: grid;
    grid-template-columns: 460px 484px;
    column-gap: 40px;
    row-gap: 48px;
}

.place__title {
    margin: 0;
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff; 
}

.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

.place__url-heading {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
    letter-spacing: 2px;
}

.place__link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
}

.place__image {
    max-width: 460px;
}

.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.place__paragraph {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    color: #ffffff;
}
/* section places end */

/* section cover start */
.cover {
    padding: 0;
    background-image: url(/img/__background.png);
    background-size: cover;
    width: 100%;
    max-width: 1184px;
    

}

.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    min-height: 740px;
    text-decoration: none;
    color: #fff;
}

.cover__link_overlay {
    background-color: rgba(42, 44, 47, .3);
    transition: background-color .2s ease;
  }

  .cover__link_overlay:hover {
    background-color: rgba(42, 44, 47, .8);
  }

.cover__title {
    margin: 0;
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    text-align: center;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    max-width: 360px;
}

/* section cover end */

/* footer start */
.footer {
    padding: 92px 48px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    list-style: none;
}

.footer__link {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 80%;
}

.footer__copyright {
    margin: 0;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
}

/* footer end */